<figure>
    <div class="col-lg-12">
        <img src="assets\Images\about-bg2.jpg" class="img-fluid">
    </div>
</figure>

<div class="container-fluid padding">
    <div class="row welcome text-center">
        <div class="col-12">
            <h1 class="display-4">LEADERSHIP TEAM</h1>
        </div>
        <hr>
    </div>
</div>

<div class="container-fluid padding">
    <div class="row padding" id="CEOrow">
        <div class="col-lg-6">
            <img src="assets\Images\Richard.jpg" class="img-fluid" id="CEO">
        </div>
        <div class="col-lg-6" id="CEOinfo">
            <h5 class="display-8">Richard Lucas</h5>
            <h6 class="display-8">PRESIDENT/CEO</h6>
            <p>Strategic Marketing professional with 15+ combine years of significant and progressive global experience and with international consultancy partners in International Trade, International Business Development, International Sales & Marketing,
                Renewable Energy and International finance Iindustries. With solid understanding of high-tech industry, deliver strategic business development initiatives, Hybrid Solar Expertise, and Operations Management experience to organization for
                full realization of RENEWABLES business growth potential and optimized, bottom-line results.
            </p>
        </div>
    </div>
</div>

<div class="container-fluid padding">
    <div class="row padding" id="VProw">
        <div class="col-lg-6" id="VPinfo">
            <h5 class="display-8">Marvin Guevarra</h5>
            <h6 class="display-8">VICE PRESIDENT - OPERATIONS</h6>
            <p>Credentials and Position Description</p>
        </div>
        <div class="col-lg-6">
            <img src="assets\Images\Richard.jjpg" class="img-fluid" id="VP">
        </div>

    </div>
</div>

<div class="container-fluid padding">
    <div class="row padding" id="ACrow">
        <div class="col-lg-6">
            <img src="assets\Images\Richard.jfpg" class="img-fluid" id="AC">
        </div>
        <div class="col-lg-6" id="ACinfo">
            <h5 class="display-8">Rejean Santos</h5>
            <h6 class="display-8">Accounting Consultant</h6>
            <p>Credentials and Position Description</p>
        </div>
    </div>
</div>
<div class="container-fluid padding">
    <div class="row padding" id="LCrow">
        <div class="col-lg-6" id="LCinfo">
            <h5 class="display-8">Luis Volante</h5>
            <h6 class="display-8">Legal Consultant</h6>
            <p>Credentials and Position Description</p>
        </div>
        <div class="col-lg-6">
            <img src="assets\Images\Richard.jpfg" class="img-fluid" id="LC">
        </div>

    </div>
</div>